
/* Landing Page Style Sheet by Austin Fisk */

html
{
  height: 100%;
}

body
{
	background-image: linear-gradient(to bottom, #000000, #4D6D9A);
    background-attachment: fixed;
	/* background-color:#4D6D9A; */
	font-family: "Georgia", sans-serif;
	color:#FFFFFF;
	margin:0px; padding:0px;
	text-align:center;
	width:100%;
	padding-top: 120px;
	height: 100%;
	text-shadow: 1px 1px #000000;
}

.header
{
	padding-top:30px;
}

.navbar
{
	background-color: #151515;
	text-shadow: 0px 0px #000000;
	font-size:28px;
}

.navbar-brand
{
	font-size:30px;
}


.highlight
{
	background-color: #FAAD1E;
}

.dropdown-item:hover
{
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
	color: #FFC862;
	background-image: url("https://pages.cs.wisc.edu/~fisk/sharedMedia/abstractCircuitBackground.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
}

.inTextLink
{
	color:#FAAD1E;
	font-style:normal;
	text-decoration: underline;
}

.inTextLink:hover,.inTextLink:hover
{
	color:#fa6b1e;
	border-width: 10px;
}

.navbarCenter
{
	text-align:center;
	margin:0 auto;
}

.centeredNavbar
{
	max-width: 700px;
	margin:0 auto;
}

.dropdown:hover .dropdown-menu {
	display: block;
	margin-top: 0; /* remove the gap so it doesn't close */
}

.fitHeight {
	max-width: 900px;
	max-height: 80vh;
	margin: auto;
}

/* a:link, a:visited
{
	color:inherit;
	font-style:normal;
  	text-decoration: none;
}

a:hover
{
	color:#FAAD1E;
}

.link
{
	width: 325px;
	height: 30px;
	border: solid 5px black;
	border-radius: 30px;
	padding: 10px 20px;
	transition: border-width 0.6s linear;
	text-align: center;
	white-space:nowrap;
	background-color:#86B3D1;
}

.link:hover,.linkL:hover
{
	border-width: 10px;
} */


.centered
{
	margin-left: auto;
	margin-right: auto;
}


a
{
	text-decoration: none;
}

.linkList
{
	margin: 0 auto;
	width:850px;
}

.borderedLink
{
	color:#FFFFFF;
	font-style:normal;
	text-decoration: none;
	margin: 8px auto;
	  
	width: 425px;
	/* height: 30px; */
	border: solid 5px black;
	border-radius: 30px;
	padding: 10px 20px;
	/* transition: border-width 0.6s linear;
	transition: width 0.6s linear;
	transition: height 0.8 linsear; */
	transition: all 0.5s ease-out;
	/* transition: height 1.6s linear; */
	text-align: center;
	white-space:nowrap;
	background-color:#86B3D1;
	font-size:25px;
}

.borderedLink:hover,.borderedLink:hover
{
	color:#FAAD1E;
	box-shadow: 0px 0px 8px 4px #46abf5;
	background-image: url("https://pages.cs.wisc.edu/~fisk/sharedMedia/abstractCircuitBackground.jpg");
	/* background-size: 220% 800%; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
}




.slowFadeIn {
	visibility: visible;
	-webkit-animation: fadeIn 8s;
	animation: fadeIn 8s;
}

.fastFadeIn {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}




/* Popup container - can be anything you want */
.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* The actual popup */
.popup .popuptext {
	visibility: hidden;
	width: 160px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -80px;
	font-size: 20px;
	line-height:1;
}

/* Popup arrow */
.popup .popuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1;
	animation: fadeIn 1;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
	from {opacity: 0;} 
	to {opacity: 1;}
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
}


.blackLinkBox {
	cursor:pointer;
	padding: 10px 20px;
	background:#000;
	color: #fff;
	border-radius: 4px;
	display: inline-block;
 }


/* Graphics Town */
/*#flightControls
{
	width:100px;
}*/
.UDLRCol
{
	width:30%;
}
.FwdBackCol
{
	width:30%;
}

.UpDownBtn
{
	/*width:70px;*/
	width:100%;
	height:40px;
}
.LeftRightBtn
{
	width:45%;
	height:40px;
}
.btnSplitter
{
	width:6%;
}
.FwBkwrdBtn
{
	width:100%;
	height:40px;
}
.inBrowControlTbl
{
	width:50%;
}



/* Larger Text For Mobile */
@media all and (min-width:10px) and (max-width: 1024px)
{
	.navbar-toggler-icon
	{
		height: 40px !important;
		width: 40px !important;
	}
	.navbar
	{
		font-size:40px;
	}
	.navbar-brand
	{
		font-size:44px;
	
	}
	.mobile-disable
	{
		pointer-events: none; 
	}
	.borderedLink
	{
		font-size:35px;
		width: 525px;
		margin: 8px auto;
	}

	.linkList
	{
		/*width:525px;*/
		width:1050px;
	}
}


.hilight {
	animation: pulsate 2s ease-out infinite;
}
@-webkit-keyframes pulsate {
	0%   { box-shadow: -5px -5px 0 transparent; }
	50%  { box-shadow: 0 0 27px cyan; }
	100% { box-shadow: -5px -5px 0px transparent; }
}

.bigFasthilight {
	animation: pulsateBig 0.4s ease-out infinite;
}
.bigFasthilight:hover {
	animation: pulsateBig 5s ease-out infinite;
}
@-webkit-keyframes pulsateBig {
	0%   { box-shadow: 125px 0 0 transparent; }
	50%  { box-shadow: 0 0 57px cyan; }
	100% { box-shadow: -125px 0 0 transparent; }
}

/* #ChickenDoor:hover
{
	height:200px;
	background-image: url(https://pages.cs.wisc.edu/~fisk/personal/chickenDoor/media/chickenDoor.jpg);
	background-size: auto 310px;
	background-repeat: no-repeat;
	background-position: center;

}

#TouchPainting:hover
{
	height:200px;
	background-image: url(https://pages.cs.wisc.edu/~fisk/personal/touchPainting/media/frog.jpg);
	background-size: auto 200px;
	background-repeat: no-repeat;
	background-position: center;

}

#CBRLEDs:hover
{
	height:200px;
	background-image: url(https://pages.cs.wisc.edu/~fisk/personal/cbr1000rrLED/media/cbrAssembling1.jpg);
	background-size: auto 300px;
	background-repeat: no-repeat;
	background-position: center;

}

#GateController:hover
{
	height:200px;
	background-image: url(https://pages.cs.wisc.edu/~fisk/personal/gateController/media/gateCadDrawing.jpg);
	background-size: auto 200px;
	background-repeat: no-repeat;
	background-position: center;

} */