/* Unit 11 Style Sheet by Austin Fisk */

body
	{
	background:#5EC88C url(../images/u11pics/background.jpg) no-repeat;
	font-family: "Georgia", sans-serif;
	color:rgb(167,203,84);
	margin: 6%;
	text-align:justify;
	}
	
a:link, a:visited
	{
	color:inherit;
	font-style:normal;
	}

a:hover
	{
	color:blue;
	}

img
	{
	background: rgb(12,123,184);
	padding:3px;
	border:3px solid blue;
	}

#wrapper
	{
	background-color:blue;
	padding:3px;
	width:750px;
	height:520px;
	margin:0px auto;
	}

#leftside
	{
	width:350px;
	height:520px;
	float:left;
	background-color:green;
	}

#img1
	{
	margin:15px 0px 5px 22px;
	}

#text1
	{
	float:left;
	width:150px;
	margin:10px 0px 6px 15px;
	}

#img2
	{
	float:right;
	margin:10px 15px 0px 0px;
	}

#rightside
	{
	float:left;
	width:400px;
	height:520px;
	background-color:green;
	}
h1
	{
	margin-left:7px;
	}

#text2
	{
	clear:both;
	margin:7px;
	}

table
	{
	margin:7px;
	border:3px solid blue;
	}

.button
	{
	color:orange;
	}

#footer
	{
	clear:both;
	padding:5px;
	width:510px;
	border:3px solid blue;
	margin:auto;
	background-color:black;
	text-align:center;
	}