<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
		<title>Welcome to the ASC!</title>
	<style type="text/css">
	body{
	font:bold 14pt "Lucida Handwriting", sans serif;
	color:green;
	}
	
	#wrapper{
	width:400px;
	background-color:yellow;
	text-align:center;
	margin:0px auto;
	}
	img{
	padding:30px;
	border:2px green solid;
	margin:40px;
	background-color:white;
	}
	#title{
	right:-50px;
	bottom:30px;
	}
	#info{
	
	text-align:left;
	}
	.text{
	position:relative;
	}
	</style>
</head>

	<body>
		<div id="wrapper">
		<img src="media/u13pics/house.jpg"/>
			<div class="text" id="title">Hare</div>
			<div class="text" id="info">Hare run fast!</div>
		</div>

			
	</body>
</html>