<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
		<title>Welcome to the ASC!</title>
	<style type="text/css">
	a.slink{
	color:green;
	}
	#firstThree a:visited, #firstThree a:link{
	display:block;
	border:1px black solid;
	background-color:yellow;
	text-align:center;
	text-decoration:none;
	}
	a:hover{
	color:red;
	}
	
	</style>
</head>

	<body>
		<div id="firstThree">
			<a href="#" class="slink">First</a>
			<a href="#" class="slink">Second</a>
			<a href="#" class="slink">Third</a>
		</div>
		<div><a href="#">CPS 139</a></div>
	</body>
</html>