

<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Unit MEOW MEOW</title>
		<link rel="stylesheet" type = "text/css"
			href="../css/utest.css" />
    </head>
<body>
			<form method="post" 
				action=""
				enctype="text/plain">
			<table>	
				<tr>
					<td>Name:</td>
					<td><input type="text" name="Last_Name"/></td>
					<td>&nbsp;</td>
					<td><input type="submit" value="Send" />&nbsp;&nbsp;&nbsp;
					<input type="reset" value="Reset" /></td>
				</tr>
			</table>
			</form>
			
			<br /><br /><br />
			
			<div id="wrap">
				The Sky Is Blue
			</div>
			
			<br /><br /><br />
			
			<div id="wrap">
				<div id="leftside">Left Side</div>
				<div id="rightside">Right Side</div>
			</div>

</body>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-61034445-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-61034445-2');
    </script>
</html>
