
body
{
background-image:url(../images/u14pics/trippy.gif);
text-align:center;
font-weight:bold;
}
#upper{
color:blue;
font-size:120pt;
margin:130px;
}
#mid{
display:block;
background-color:white;
font-size:30pt;
margin:20px;
color:red;
}
#lower{
color:grey;
font-size:7pt;
margin-top:100px;
}