/* Unit 08 Style sheet
	by Zach Powers */
body{
margin: 5% 10% 5% 10%;
color:#FFFFB8;
text-align:center;
background-image:url(../images/u8pics/background.jpg);
font-family:"Verdana", "Arial", sans-serif;

}
#text{
padding-right:20px;
text-align:left;
}

#first{
background-color:#476B00;
border-style:dotted;
border-width:3px;
border-color:#FFFFB8;
}

table.second{
margin:auto;
width:78%;
background-color:#29A329;
}

img.small,#big{
border-style:dotted;
border-width:3px;
border-color:#FFFFB8;
margin:10px;
}

img.small{
padding:5px;
}

th{
font-size:20px;
vertical-align:bottom;
}

#sources{
width:20%;
}

#links{
padding-top:20px;
vertical-align:top;
}

a:link,a:visited{
text-decoration:none;
font-style:normal;
color:inherit;
color:#FFFFB8; 
}

a:hover{
color:inherit;
color:#FFFF00;
}