/* Unit 11 Style sheet
	by Zach Powers */

body
{
color:#FFE0FF;
background-color:#000072;
}

#wrap{
width:750px;
margin:0 auto;

}

#img1{
margin:10px;


}
#leftside{
height:500px;
float:left;
width:350px;
background-color:#93004A;
}

#img2{
margin:10px;
float:right;
}

#text1{
text-align:justify;
float:left;
width:160px;
margin:10px;
}

#rightside{
height:500px;
background-color:#93004A;
}
#text2{
text-align:justify;
margin:10px;
}

table{
border:solid thin black;
margin-left:5px;
padding:10px;
}

#footer{
position:justify;
text-align:center;
clear:both;
}

a:link,a:visited{
color:inherit;
text-decoration:none;
font-weight:bold;
}
a:hover{
color:#FFFF85;
}